In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('/Users/pratikkapse/MachineLearningLab/Product_Demand_Forecasting/Historical Product Demand.csv')
df.head()

   Product_Code Warehouse Product_Category       Date Order_Demand
0  Product_0993    Whse_J     Category_028  2012/7/27         100
1  Product_0979    Whse_J     Category_028  2012/1/19         500
2  Product_0979    Whse_J     Category_028   2012/2/3         500
3  Product_0979    Whse_J     Category_028   2012/2/9         500
4  Product_0979    Whse_J     Category_028   2012/3/2         500

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 5 columns):
 #   Column            Non-Null Count    Dtype
---  ------            --------------    -----
 0   Product_Code      1048575 non-null  object
 1   Warehouse         1048575 non-null  object
 2   Product_Category  1048575 non-null  object
 3   Date              1037336 non-null  object
 4   Order_Demand      1048575 non-null  object
dtypes: object(5)
memory usage: 40.0+ MB

In [4]:
df.Product_Code.nunique()

2160

In [5]:
df.Warehouse.nunique()

4

In [6]:
df.Product_Category.nunique()

33

In [7]:
df.Date.nunique()

1729

In [8]:
def check_order_demand(x):
    try:
        int(x)
    except:
        return False
    return True

In [9]:
def change_to_int(x):
    try:
        #return int(x)
        return int(x[1:-1])
    except:
        #return int(x[1:-1])
        return False

In [10]:
df['Order_Demand'] = df['Order_Demand'].apply(lambda x: int(x) if check_order_demand(x) else change_to_int(x))

In [11]:
df.describe()

       Order_Demand
count  1.048575e+06
mean   4.906977e+03
std    2.892678e+04
min    0.000000e+00
25%    2.000000e+01
50%    3.000000e+02
75%    2.000000e+03
max    4.000000e+06

In [12]:
df.isnull().sum()

Product_Code            0
Warehouse               0
Product_Category        0
Date                11239
Order_Demand            0
dtype: int64

In [13]:
df = df.dropna()

In [22]:
df = df.set_index('Date')
df.index = pd.to_datetime(df.index)

In [23]:
def extract_date_features(dataframe):
    dataframe = dataframe.copy()
    dataframe['day_of_the_week'] = dataframe.index.dayofweek
    dataframe['Quarter'] = dataframe.index.quarter
    dataframe['Month'] = dataframe.index.month
    dataframe['Year'] = dataframe.index.year
    dataframe['Week'] = dataframe.index.isocalendar().week.astype(int)
    return dataframe

df = extract_date_features(df)
df.dtypes

Product_Code        object
Warehouse           object
Product_Category    object
Order_Demand         int64
day_of_the_week      int64
Quarter              int64
Month                int64
Year                 int64
Week                 int32
dtype: object

In [30]:
X = ['day_of_the_week', 'Quarter', 'Month', 'Year', 'Week']
y = ['Order_Demand']