In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [18]:
df = pd.read_csv('/Users/pratikkapse/MachineLearningLab/Product_Demand_Forecasting/Historical Product Demand.csv')

In [19]:
df.head()

   Product_Code Warehouse Product_Category       Date Order_Demand
0  Product_0993    Whse_J     Category_028  2012/7/27         100
1  Product_0979    Whse_J     Category_028  2012/1/19         500
2  Product_0979    Whse_J     Category_028   2012/2/3         500
3  Product_0979    Whse_J     Category_028   2012/2/9         500
4  Product_0979    Whse_J     Category_028   2012/3/2         500

In [5]:
df.dtypes

Product_Code        object
Warehouse           object
Product_Category    object
Date                object
Order_Demand        object
dtype: object

In [6]:
df.Product_Code.nunique()

2160

In [7]:
df.Warehouse.nunique()

4

In [8]:
df.Product_Category.nunique()

33

In [9]:
df.isna().sum()

Product_Code            0
Warehouse               0
Product_Category        0
Date                11239
Order_Demand            0
dtype: int64

In [20]:
df.dropna(inplace = True)

In [11]:
df.isna().sum()

Product_Code        0
Warehouse           0
Product_Category    0
Date                0
Order_Demand        0
dtype: int64

In [12]:
df = df.set_index('Date')
df.index = pd.to_datetime(df.index)

In [13]:
df.head()

            Product_Code Warehouse Product_Category Order_Demand
Date
2012-07-27  Product_0993    Whse_J     Category_028         100
2012-01-19  Product_0979    Whse_J     Category_028         500
2012-02-03  Product_0979    Whse_J     Category_028         500
2012-02-09  Product_0979    Whse_J     Category_028         500
2012-03-02  Product_0979    Whse_J     Category_028         500

In [22]:
def convert_to_int(x):
    try:
        return int(x)
    except:
        return int(x[1:-1])

# Apply the function to the 'Order_Demand' column
df['Order_Demand'] = df['Order_Demand'].apply(lambda x: convert_to_int(x))

In [23]:
df.describe()

       Order_Demand
count  1.037336e+06
mean   4.949384e+03
std    2.907344e+04
min    0.000000e+00
25%    2.000000e+01
50%    3.000000e+02
75%    2.000000e+03
max    4.000000e+06

In [ ]:
def change_to_int(x):
    try:
        return int(x)
    except:
        return int(x[1:-1])
check = '(10)'
change_to_int(check)

In [15]:
dataframe = df.copy()
dataframe['day_of_the_week'] = dataframe.index.dayofweek
dataframe['Quarter'] = dataframe.index.quarter
dataframe['Month'] = dataframe.index.month
dataframe['Year'] = dataframe.index.year
dataframe['Week'] = dataframe.index.isocalendar().week.astype(int)

In [17]:
dataframe.dtypes

Product_Code        object
Warehouse           object
Product_Category    object
Order_Demand        object
day_of_the_week      int64
Quarter              int64
Month                int64
Year                 int64
Week                 int64
dtype: object